<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">ExpertFinder</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="http://flip3.engr.oregonstate.edu:4212">Home</a></li>
				<li class="active"><a href="http://flip3.engr.oregonstate.edu:4212/Feature2">Find Expert</a></li>
				<li><a href="http://flip3.engr.oregonstate.edu:4212/Feature3">My Profile</a></li>
				<li><a href="http://flip3.engr.oregonstate.edu:4212/Feature5">Register</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings </a></li>
				<li><a href="#"><span class="glyphicon glyphicon-question-sign"></span> Help </a></li>
			</ul>
		</div>
	</div>
</nav>
	<div class="container-fluid text-center">
		<div class="row content">
			<div class="col-sm-2 sidenav">

			</div>
			<div class="col-sm-8 text-left">
				<h1>Find an Expert</h1>
				<h3> Search for Expert</h3>
				<p>Search for expert by first name, last name, course, industry, or skill set.</p>
				<form action="http://flip3.engr.oregonstate.edu:4212/Feature2_expertlist" method="get">
					<div class="form-group">
						<label for="searchVal"></label>
						<input type="text" class="form-control" id="searchVal" name="searchVal">
					</div>
					<input type="submit" class="btn btn-primary" value="Find Expert" />
				</form>
				<hr>

				<h3>Filter for Expert</h3>
				<p>Filter for expert by skillset, OSU courses, and/or industry. Select 'All' to not filter by the criteria.</p>
				<form method="get" action="http://flip3.engr.oregonstate.edu:4212/Feature2_expertlist">
					<div class="form-group">
						<h4>Select Courses</h4>
						<select name="course" multiple>
							<option value='All' selected="selected">All</option>
							{{#each data.courseList}}
							<option value="{{this}}">{{this}}</option>
							{{/each}}
						</select>
					</div>
					<div class="form-group">
						<h4>Select Skill</h4>
						<select name="skillset" multiple>
							<option value='All' selected="selected">All</option>
							{{#each data.skillList}}
							<option value="{{this}}">{{this}}</option>
							{{/each}}
						</select>
					</div>
					<div class="form-group">
						<h4>Select Industry</h4>
						<select name="industry" multiple>
							<option value='All' selected="selected">All</option>
							{{#each data.indList}}
							<option value="{{this}}">{{this}}</option>
							{{/each}}
						</select>
					</div>
					<input type="submit" class="btn btn-primary" value="Find Expert" />
				</form>
			<br></br>
			</div>

			<div class="col-sm-2 sidenav">

			</div>
		</div>
	</div>
<footer class="container-fluid text-center">
	<p>ExpertFinder is used for Oregon State students to connect with current students and/or alumni for networking opportunities in the computer science field</p>
</footer>
